#                              WEB-SCRAPPING-ASSIGNMENT - 2

# Q1: Write a python program to scrape data for “Data Analyst” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
# Configure webdriver to use Chrome Browser

def scraping():
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    url=input("Enter the url:")
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    title = soup.find_all('div', class_ = 'info fleft')
    Job_Title = []
    for i in title:
        Job_Title.append(i.a.text)
    
    location = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi location')
    Job_Location = []
    for i in location:
        Job_Location.append(i.text)
    
    
    coname = soup.find_all('div', class_ = 'mt-7 companyInfo subheading lh16')
    Company_Name = []
    for i in coname:
        Company_Name.append(i.a.text)
    
    experience = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi experience')
    Experience_Required = []
    for i in experience:
        Experience_Required.append(i.text)
    
    DataAnalyst_Banglore = pd.DataFrame({'Job_Title' : Job_Title[0:10], 'Job_Location' : Job_Location[0:10], 'Company_Name' : Company_Name[0:10], 'Experience_Required' : Experience_Required[0:10] })
    return DataAnalyst_Banglore

scraping()
#Enter the url:https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore

Enter the url:https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,Data Analyst,"Chennai, Delhi NCR, Bengaluru",Hk solutions,0-3 Yrs
2,Intern - DFM Data Analyst,Bengaluru,GLOBALFOUNDRIES Engineering Private Limited,0-5 Yrs
3,Hiring Data Analysts on Contract Third party p...,Bengaluru,Flipkart Internet Private Limited,2-6 Yrs
4,Reliability Data Analyst,Bengaluru,Alstom Transport India Ltd.,3-8 Yrs
5,Senior Data Analyst,Bengaluru,Myntra,2-7 Yrs
6,Data Analyst,Bengaluru,Ladder of changes,0-5 Yrs
7,Data Analyst / Business Analyst,Bengaluru,Altisource,1-6 Yrs
8,Hiring For Data Analyst RE) - Bangalore,Bengaluru(Bellandur),TELEPERFORMANCE GLOBAL SERVICES,2-6 Yrs
9,Specialist I / II - Data Analyst,Bengaluru,Philips India Limited,5-7 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [3]:
def scraping():
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    url=input("Enter the url:")
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    title = soup.find_all('div', class_ = 'info fleft')
    Job_Title = []
    for i in title:
        Job_Title.append(i.a.text)
    
    location = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi location')
    Job_Location = []
    for i in location:
        Job_Location.append(i.text)
    
    
    coname = soup.find_all('div', class_ = 'mt-7 companyInfo subheading lh16')
    Company_Name = []
    for i in coname:
        Company_Name.append(i.a.text)
    
    experience = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi experience')
    Experience_Required = []
    for i in experience:
        Experience_Required.append(i.text)
    
    DataScientist_Banglore = pd.DataFrame({'Job_Title' : Job_Title[0:10], 'Job_Location' : Job_Location[0:10], 'Company_Name' : Company_Name[0:10], 'Experience_Required' : Experience_Required[0:10] })
    return DataScientist_Banglore

scraping()
#https://www.naukri.com/data-scientist-jobs-in-bangalore

Enter the url:https://www.naukri.com/data-scientist-jobs-in-bangalore

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,Senior Data Scientist,Bengaluru,Flipkart,2-7 Yrs
2,Data Scientist- Computer Vision & Image Proces...,Bengaluru,24/7 Customer,0-6 Yrs
3,Senior Data Scientist,Bengaluru,Groupon Shared Services,4-8 Yrs
4,Sr. Data Scientist,"Chennai, Bengaluru",AVE-Promagne,6-11 Yrs
5,Senior Data Scientist- Bangalore/ Chennai,"Chennai, Bengaluru",RANDSTAD INDIA PVT LTD,8-13 Yrs
6,Senior Data Scientist,Bengaluru,ORMAE LLP,5-10 Yrs
7,Sr. Data Scientist,Bengaluru,NetApp,10-20 Yrs
8,AI Resident - Data Scientist,Bengaluru,Shell India Markets Private Limited,3-5 Yrs
9,Data scientist,Bengaluru,IBM India Pvt. Limited,2-7 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [7]:
def scraping():
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    url=input("Enter the url:")
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    title = soup.find_all('div', class_ = 'info fleft')
    Job_Title = []
    for i in title:
        Job_Title.append(i.a.text)
    
    location = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi location')
    Job_Location = []
    for i in location:
        Job_Location.append(i.text)
    
    
    coname = soup.find_all('div', class_ = 'mt-7 companyInfo subheading lh16')
    Company_Name = []
    for i in coname:
        Company_Name.append(i.a.text)
    
    experience = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi experience')
    Experience_Required = []
    for i in experience:
        Experience_Required.append(i.text)
    
    DataScientist_Delhi = pd.DataFrame({'Job_Title' : Job_Title[0:10], 'Job_Location' : Job_Location[0:10], 'Company_Name' : Company_Name[0:10], 'Experience_Required' : Experience_Required[0:10] })
    return DataScientist_Delhi

scraping()
#Enter the url:https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?cityType=25.9.31&industryTypeId=34&ctcFilter=3to6

Enter the url:https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?cityType=25.9.31&industryTypeId=34&ctcFilter=3to6

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs
1,Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,1-3 Yrs
2,Data Scientist,Gurgaon,T & A Solutions,1-6 Yrs
3,Data Scientist,Gurgaon,itForte Staffing Services Private Ltd.,3-8 Yrs
4,Data Scientist,Noida,Sumeru Verde Technologies,2-5 Yrs
5,Data Analyst/Scientist,Gurgaon,itForte Staffing Services Private Ltd.,3-7 Yrs
6,Data Analyst,"Chennai, Delhi NCR, Bengaluru",Hk solutions,0-3 Yrs
7,Reporting and Data Analyst,Noida,Finejobs Consultant Private Limited,0-1 Yrs
8,Data Analyst,"Chennai, Pune, Delhi NCR, Bengaluru",JoulestoWatts Business Solutions Pvt Ltd,4-9 Yrs
9,Senior Data Analyst,Delhi,VTalentGlobal,3-5 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
5. Finally create a dataframe of the scraped data.

In [8]:
def scraping():
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    url=input("Enter the url:")
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    title = soup.find_all('div', class_ = 'jobHeader d-flex justify-content-between align-items-start')
    Job_Title = []
    for i in title:
        Job_Title.append(i.text)
    
    location = soup.find_all('div', class_ = 'd-flex align-items-end pl-std css-mi55ob')
    Job_Location = []
    for i in location:
        Job_Location.append(i.text)
    
    
    coname = soup.find_all('span', class_ = 'compactStars')
    Rating_Name = []
    for i in coname:
        Rating_Name.append(i.text)
        
    
    
    
    
    DataScientist_Noida = pd.DataFrame({'Company_Name' : Job_Title[0:10], 'No_Of_Days' : Job_Location[0:10], 'Ratings' : Rating_Name[0:10] })
    return DataScientist_Noida

scraping()
#Enter the url:https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm

Enter the url:https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm

         Company_Name No_Of_Days Ratings
0            xtLytics         1d       3
1          Project YX        24h     3.4
2            xtLytics         1d       3
3                EOXS        24h     3.8
4            Ericsson        10d     3.8
5             Kvantum         1d     4.3
6            xtLytics         1d       3
7  Transorg Analytics         3d     2.1
8            Techlive       30d+       5
9          Tidal Vape         1d     3.6

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [14]:
def scraping():
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    url=input("Enter the url:")
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    title = soup.find_all('p', class_ = 'm-0')
    access_dict=[2,8,14,20,26,32,38,44,50,56,62,68,74,80,86,92,98,104,104,106]
    Job_Title = []
    for i in access_dict:
        Job_Title.append(title[i].text)
    
    location = soup.find_all('p', class_ = 'css-1uyte9r css-1kuy7z7 m-0')
    Job_Location = []
    for i in location:
        Job_Location.append(i.text)
    
    
    coname = soup.find_all('div', class_ = 'col-2 d-none d-md-flex flex-row justify-content-end')
    Company_Name = []
    for i in coname:
        Company_Name.append(i.text)
        
        
    experience = soup.find_all('div', class_ = 'common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container')
    Experience_Required = []
    for i in experience:
        Experience_Required.append(i.text)
        
    
    
    
    
    DataScientist_Noida = pd.DataFrame({'Company_Name' : Job_Title[0:10], 'No_Of_Salaries' : Job_Location[0:10], 'Avg_Salary' : Company_Name[0:10], 'Min_Max_Salary' : Experience_Required[0:10] })
    return DataScientist_Noida

scraping()
#https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm

Enter the url:https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm

,Company_Name,No_Of_Salaries,Avg_Salary,Min_Max_Salary
0,Delhivery,11 salaries,"₹ 13,18,563/yr","₹706K₹11,513K"
1,Accenture,8 salaries,"₹ 9,85,497/yr","₹572K₹1,300K"
2,IBM,7 salaries,"₹ 7,53,602/yr","₹581K₹2,704K"
3,UnitedHealth Group,7 salaries,"₹ 13,23,634/yr","₹710K₹1,559K"
4,Cognizant Technology Solutions,6 salaries,"₹ 9,97,979/yr","₹785K₹1,251K"
5,Valiance Solutions,6 salaries,"₹ 7,72,507/yr","₹497K₹1,140K"
6,Vidooly Media Tech,6 salaries,"₹ 12,689/mo",₹8K₹20K
7,Analytics Vidhya,6 salaries,"₹ 21,215/mo",₹14K₹22K
8,Tata Consultancy Services,5 salaries,"₹ 6,77,498/yr","₹480K₹1,000K"
9,Ericsson-Worldwide,5 salaries,"₹ 7,34,456/yr","₹460K₹1,598K"

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:1. Brand 2. Product Description 3. Price 4. Discount %

In [10]:
def scrapping():
    
    # Importing essential libraries

    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen


    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(input("Input url here : To scrape page 1"))

    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    brand = soup.find_all('div', class_ = '_2B_pmu')
    Brand = []
    for i in brand:
        Brand.append(i.text[0:40])

    # Scraping description of the product
    description = soup.find_all('a', class_ = '_2mylT6')
    Product_Description = []
    for i in description:
        Product_Description.append(i.text)

    # Scraping price of the product
    price = soup.find_all('div', class_ = '_1vC4OE')
    Price = []
    for i in price:
        Price.append(i.text[0:40])

    # Scraping discount on the product
    discount = soup.find_all('div', class_ = 'VGWI6T')
    Discount = []
    for i in discount:
        Discount.append(i)

    
    # Scaping next page for more results
    driver.get(input("Input url here : To scrape page 2"))

    # Creating soup
    content = driver.page_source
    soup1 = BeautifulSoup(content)
    
    # Scraping brand of the products - page 2
    brand1 = soup1.find_all('div', class_ = '_2B_pmu')
    Brand1 = []
    for i in brand1:
        Brand1.append(i.text[0:40])

    # Sctraping description of the products - page 2
    description1 = soup1.find_all('a', class_ = '_2mylT6')
    Product_Description1 = []
    for i in description1:
        Product_Description1.append(i.text)

    # Scraping price of the products - page 2
    price1 = soup1.find_all('div', class_ = '_1vC4OE')
    Price1 = []
    for i in price1:
        Price1.append(i.text[0:40])

    # Scraping discount on the products - page 2
    discount1 = soup1.find_all('div', class_ = 'VGWI6T')
    Discount1 = []
    for i in discount1:
        Discount1.append(i)

    # Scraping next page for more results
    driver.get(input("Input url here : To scrape page 3"))

    # Creating soup
    content = driver.page_source
    soup2 = BeautifulSoup(content)
    
    # Scraping brand of the product - page 3
    brand2 = soup2.find_all('div', class_ = '_2B_pmu')
    Brand2 = []
    for i in brand2:
        Brand2.append(i.text[0:40])

    # Scraping description of the product - page 3
    description2 = soup2.find_all('a', class_ = '_2mylT6')
    Product_Description2 = []
    for i in description2:
        Product_Description2.append(i.text)

    # Scraping price of the product - page 3
    price2 = soup2.find_all('div', class_ = '_1vC4OE')
    Price2 = []
    for i in price2:
        Price2.append(i.text[0:40])
    
    # Scraping discounts on the products - page 3
    discount2 = soup2.find_all('div', class_ = 'VGWI6T')
    Discount2 = []
    for i in discount2:
        Discount2.append(i)

    # Appending lists of all the pages and scrutinizing it appropriately.
    BRAND = Brand+Brand1+Brand2
    PRODUCT_DESCRIPTION = Product_Description+Product_Description1+Product_Description2
    PRICE = Price[0:40]+Price1[0:40]+Price2[0:40]
    DISCOUNT = Discount[0:40]+Discount1[0:40]+Discount2[0:40]
    
    # Creating a dataframe to store the scrapped information
    Sunglasses = pd.DataFrame({'BRAND' : BRAND[0:100], 'PRODUCT_DESCRIPTION' : PRODUCT_DESCRIPTION[0:100], 'PRICE' : PRICE[0:100], 'DISCOUNT' : DISCOUNT[0:100]})

    # Returning the dataframe
    return Sunglasses

scrapping()
#URL for page 1:
#https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off

#URL for page 2:
#https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2

#URL for page 3:
#https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3

Input url here : To scrape page 1https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off
Input url here : To scrape page 2https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2
Input url here : To scrape page 3https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3

,BRAND,PRODUCT_DESCRIPTION,PRICE,DISCOUNT
0,United Colors of Benetton,UV Protection Retro Square Sunglasses (57),"₹1,755",[[55% off]]
1,INSH,UV Protection Round Sunglasses (54),₹315,[[84% off]]
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹809,[[10% off]]
3,Collet,"Gradient, Mirrored, UV Protection Aviator Sung...",₹199,[[86% off]]
4,Elligator,UV Protection Round Sunglasses (54),₹296,[[88% off]]
...,...,...,...,...
95,Gansta,UV Protection Rectangular Sunglasses (56),₹211,[[78% off]]
96,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹426,[[85% off]]
97,blutech,Mirrored Spectacle Sunglasses (Free Size),₹140,[[86% off]]
98,Gansta,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹269,[[20% off]]
99,Fastrack,UV Protection Round Sunglasses (52),"₹1,299",[[90% off]]

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [11]:
def scraping():
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    url=input("Enter the url:")
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    rating = soup.find_all('div', class_ = 'hGSR34 E_uFuv')
    Rating = []
    for i in rating:
        Rating.append(i.text[0:100])
    
    review_summary = soup.find_all('p', class_ = '_2xg6Ul')
    Review_Summary = []
    for i in review_summary:
        Review_Summary.append(i.text[0:100])
    
    
    full_review = soup.find_all('div', class_ = 'qwjRop')
    Full_Review = []
    for i in full_review:
        Full_Review.append(i.text[0:100])
        
    
    
    
    
    Iphone11 = pd.DataFrame({'RATINGS' : Rating[0:100], 'REVIEW_SUMMARY' : Review_Summary[0:100], 'FULL_REVIEWS' : Full_Review[0:100] })
    return Iphone11

scraping()
#https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

Enter the url:https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

,RATINGS,REVIEW_SUMMARY,FULL_REVIEWS
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
5,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
6,5,Worth every penny,It’s been almost a month since I have been usi...
7,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
8,4,Nice product,Awesome Phone. Slightly high price but worth. ...
9,5,Wonderful,*Review after 10 months of usage*Doesn't seem ...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :1. Brand 2. Product Description 3. Price 4. discount %

https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers&requestId=c2433e4d-d021-4b7c-89be-931cce935fd8&as-searchtext=sneak

https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers&requestId=c2433e4d-d021-4b7c-89be-931cce935fd8&as-searchtext=sneak&page=2

https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers&requestId=c2433e4d-d021-4b7c-89be-931cce935fd8&as-searchtext=sneak&page=3

In [12]:
def scrapping():
    
    # Importing essential libraries

    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen


    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(input("Input url here : To scrape page 1"))

    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    brand = soup.find_all('div', class_ = '_2B_pmu')
    Brand = []
    for i in brand:
        Brand.append(i.text[0:40])

    # Scraping description of the product
    description = soup.find_all('a', class_ = '_2mylT6')
    Product_Description = []
    for i in description:
        Product_Description.append(i.text)

    # Scraping price of the product
    price = soup.find_all('div', class_ = '_1vC4OE')
    Price = []
    for i in price:
        Price.append(i.text[0:40])

    # Scraping discount on the product
    discount = soup.find_all('div', class_ = 'VGWI6T')
    Discount = []
    for i in discount:
        Discount.append(i)

    
    # Scaping next page for more results
    driver.get(input("Input url here : To scrape page 2"))

    # Creating soup
    content = driver.page_source
    soup1 = BeautifulSoup(content)
    
    # Scraping brand of the products - page 2
    brand1 = soup1.find_all('div', class_ = '_2B_pmu')
    Brand1 = []
    for i in brand1:
        Brand1.append(i.text[0:40])

    # Sctraping description of the products - page 2
    description1 = soup1.find_all('a', class_ = '_2mylT6')
    Product_Description1 = []
    for i in description1:
        Product_Description1.append(i.text)

    # Scraping price of the products - page 2
    price1 = soup1.find_all('div', class_ = '_1vC4OE')
    Price1 = []
    for i in price1:
        Price1.append(i.text[0:40])

    # Scraping discount on the products - page 2
    discount1 = soup1.find_all('div', class_ = 'VGWI6T')
    Discount1 = []
    for i in discount1:
        Discount1.append(i)

    # Scraping next page for more results
    driver.get(input("Input url here : To scrape page 3"))

    # Creating soup
    content = driver.page_source
    soup2 = BeautifulSoup(content)
    
    # Scraping brand of the product - page 3
    brand2 = soup2.find_all('div', class_ = '_2B_pmu')
    Brand2 = []
    for i in brand2:
        Brand2.append(i.text[0:40])

    # Scraping description of the product - page 3
    description2 = soup2.find_all('a', class_ = '_2mylT6')
    Product_Description2 = []
    for i in description2:
        Product_Description2.append(i.text)

    # Scraping price of the product - page 3
    price2 = soup2.find_all('div', class_ = '_1vC4OE')
    Price2 = []
    for i in price2:
        Price2.append(i.text[0:40])
    
    # Scraping discounts on the products - page 3
    discount2 = soup2.find_all('div', class_ = 'VGWI6T')
    Discount2 = []
    for i in discount2:
        Discount2.append(i)

    # Appending lists of all the pages and scrutinizing it appropriately.
    BRAND = Brand+Brand1+Brand2
    PRODUCT_DESCRIPTION = Product_Description+Product_Description1+Product_Description2
    PRICE = Price[0:40]+Price1[0:40]+Price2[0:40]
    DISCOUNT = Discount[0:40]+Discount1[0:40]+Discount2[0:40]
    
    # Creating a dataframe to store the scrapped information
    Sunglasses = pd.DataFrame({'BRAND' : BRAND[0:100], 'PRODUCT_DESCRIPTION' : PRODUCT_DESCRIPTION[0:100], 'PRICE' : PRICE[0:100], 'DISCOUNT' : DISCOUNT[0:100]})

    # Returning the dataframe
    return Sunglasses

scrapping()
#url1-https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers&requestId=c2433e4d-d021-4b7c-89be-931cce935fd8&as-searchtext=sneak
#url2-https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers&requestId=c2433e4d-d021-4b7c-89be-931cce935fd8&as-searchtext=sneak&page=2
#url3-https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers&requestId=c2433e4d-d021-4b7c-89be-931cce935fd8&as-searchtext=sneak&page=3

Input url here : To scrape page 1https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers&requestId=c2433e4d-d021-4b7c-89be-931cce935fd8&as-searchtext=sneak
Input url here : To scrape page 2https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers&requestId=c2433e4d-d021-4b7c-89be-931cce935fd8&as-searchtext=sneak&page=2
Input url here : To scrape page 3https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers&requestId=c2433e4d-d021-4b7c-89be-931cce935fd8&as-searchtext=sneak&page=3

,BRAND,PRODUCT_DESCRIPTION,PRICE,DISCOUNT
0,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹461,[[76% off]]
1,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,[[52% off]]
2,Birde,Combo Pack of 2 Casual Shoes Sneakers For Men,₹569,[[43% off]]
3,Chevit,170 Smart Grey Lace-Ups Casuals for Men Sneake...,₹236,[[52% off]]
4,Hotstyle,Sneakers For Men,₹189,[[62% off]]
...,...,...,...,...
95,Birde,Combo Pack of 4 Casual Shoes Sneakers For Men,₹849,[[57% off]]
96,World Wear Footwear,Combo Pack of 2 Latest Collection Stylish casu...,₹499,[[50% off]]
97,Bonexy,Sneakers For Men,₹499,[[50% off]]
98,kruchika,Sneakers For Men,₹298,[[70% off]]
99,REEBOK,STRIDE RUNNER LP Sneakers For Men,"₹1,385",[[34% off]]

# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [1]:
def scrapping():
    
    # Importing essential libraries

    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen


    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(input("Input url here : To scrape page 1"))

    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    price = soup.find_all('div', class_ = 'product-price')
    Price = []
    for i in price:
        Price.append(i.text[0:50])

    # Scraping description of the product
    description = soup.find_all('h4', class_ = 'product-product')
    Product_Description = []
    for i in description:
        Product_Description.append(i.text)

    # Scraping price of the product
    brand = soup.find_all('h3', class_ = 'product-brand')
    Brand = []
    for i in brand:
        Brand.append(i.text[0:50])

   
    
    # Scaping next page for more results
    driver.get(input("Input url here : To scrape page 2"))

    # Creating soup
    content = driver.page_source
    soup1 = BeautifulSoup(content)
    
    # Scraping brand of the products - page 2
    price1 = soup1.find_all('div', class_ = 'product-price')
    Price1 = []
    for i in price1:
        Price1.append(i.text[0:50])

    # Sctraping description of the products - page 2
    description1 = soup1.find_all('h4', class_ = 'product-product')
    Product_Description1 = []
    for i in description1:
        Product_Description1.append(i.text)

    # Scraping price of the products - page 2
    brand1 = soup1.find_all('h3', class_ = 'product-brand')
    Brand1 = []
    for i in brand1:
        Brand1.append(i.text[0:50])



    # Appending lists of all the pages and scrutinizing it appropriately.
    BRAND = Brand+Brand1
    PRODUCT_DESCRIPTION = Product_Description+Product_Description1
    PRICE = Price[0:50]+Price1[0:50]
    
    
    # Creating a dataframe to store the scrapped information
    Shoes = pd.DataFrame({'BRAND' : BRAND[0:100], 'PRODUCT_DESCRIPTION' : PRODUCT_DESCRIPTION[0:100], 'PRICE' : PRICE[0:100]})

    # Returning the dataframe
    return Shoes

scrapping()
#url- https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6683.0_13122.0_6683.0%20TO%2013122.0
#url1- https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A6683.0_13122.0_6683.0%20TO%2013122.0

Input url here : To scrape page 1https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6683.0_13122.0_6683.0%20TO%2013122.0
Input url here : To scrape page 2https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A6683.0_13122.0_6683.0%20TO%2013122.0

,BRAND,PRODUCT_DESCRIPTION,PRICE
0,ADIDAS,Men FluidFlow Running Shoes,Rs. 7999
1,ADIDAS Originals,Men Solid AR Training Shoes,Rs. 7199Rs. 7999(10% OFF)
2,Nike,Men Zoom Running Shoes,Rs. 7995
3,ADIDAS,Terrex Two Trail Running Shoes,Rs. 9999
4,ADIDAS,Men Printed SL20 Running Shoes,Rs. 10999
...,...,...,...
95,Geox,Men Leather Formal Derbys,Rs. 8999
96,Cole Haan,Women Oxford Sneakers,Rs. 9799Rs. 13999(30% OFF)
97,Clarks,Men Leather Formal Loafers,Rs. 6999
98,Geox,Men Leather Formal Slip-Ons,Rs. 12490
99,Tommy Hilfiger,Men Colourblocked Sneakers,Rs. 9009Rs. 10599(15% OFF)

# Q10: Go to webpage https://www.amazon.in/ “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [20]:
def scraping():
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    url=input("Enter the url:")
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    title = soup.find_all('span', class_ = 'a-size-medium a-color-base a-text-normal')
    Title = []
    for i in title:
        Title.append(i.text[0:10])
    
    
     
    
    
    price = soup.find_all('span', class_ = 'a-price-whole')
    Price = []
    for i in price:
        Price.append(i.text[0:10])
        
        
    #ratings = soup.find_all('span', class_ ='a-icon-alt')
    ratings = soup.find_all('a', class_ ='a-popover-trigger a-declarative')

    Ratings = []
    for i in ratings:
        Ratings.append(i.text[0:10])
        
    
    
    
    
    laptop = pd.DataFrame({'TITLE' : Title[0:10], 'PRICE' : Price[0:10], 'RATING' : Ratings[0:10] })
    return laptop

scraping()
#https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598161031%7C12598163031&dc&qid=1604587547&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_16

Enter the url:https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598161031%7C12598163031&dc&qid=1604587547&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_16

        TITLE   PRICE      RATING
0  Dell Inspi  34,831  2.7 out of
1  Dell Inspi  40,490  2.9 out of
2  HP 15s du2  37,490  3.0 out of
3  HP 15 10th  35,990  3.6 out of
4  Dell Vostr  36,890  3.5 out of
5  Dell Inspi  34,831  2.7 out of
6  HP 15s Thi  35,000  3.9 out of
7  Lenovo Ide  31,380  5.0 out of
8  ASUS Exper  41,980  3.7 out of
9  Dell Inspi  42,100  3.2 out of

# End of assignment-Thank you